@use "mixins" as *;

:host {
    @include main-component;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    overflow: hidden;
    max-height: calc(100vh - 4rem);
}

:not(:last-child) {
    margin-bottom: 1rem;
}